* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* global */
  body {
    color: #222222;
    font-family: "Helvetica-55";
    overflow-x: hidden;
  }
  .big_container {
    max-width: 1546px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .medium_container {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  .small_container {
    max-width: 753px;
    margin: 0 auto;
    padding: 0 16px;
  }
  
  h4.title {
    margin-bottom: 4px;
    font-size: 24px;
    font-weight: bold;
    font-family: "Helvetica-75";
  }
  
  p.title {
    max-width: 590px;
    margin-bottom: 32px;
    font-size: 18px;
  }
  
  @media only screen and (max-width: 767px) {
    p.title {
      margin-bottom: 24px;
    }
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  /* fonts */
  
  @font-face {
    font-family: "Helvetica-55";
    src: url("../fonts/helvetica-55/helvetica-neue-lt-geo-55-roman.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/helvetica-55/helvetica-neue-lt-geo-55-roman.eot")
        format("embedded-opentype"),
      url("../fonts/helvetica-55/helvetica-neue-lt-geo-55-roman.woff2")
        format("woff2"),
      url("../fonts/helvetica-55/helvetica-neue-lt-geo-55-roman.woff")
        format("woff"),
      url("../fonts/helvetica-55/helvetica-neue-lt-geo-55-roman.ttf")
        format("truetype");
  }
  
  @font-face {
    font-family: "Helvetica-65";
    src: url("../fonts/helvetica-65/helvetica-neue-lt-geo-65-medium.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/helvetica-65/helvetica-neue-lt-geo-65-medium.eot")
        format("embedded-opentype"),
      url("../fonts/helvetica-65/helvetica-neue-lt-geo-65-medium.woff2")
        format("woff2"),
      url("../fonts/helvetica-65/helvetica-neue-lt-geo-65-medium.woff")
        format("woff"),
      url("../fonts/helvetica-65/helvetica-neue-lt-geo-65-medium.ttf")
        format("truetype");
  }
  
  @font-face {
    font-family: "Helvetica-75";
    src: url("../fonts/helvetica-75/helvetica-neue-lt-geo-75-bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/helvetica-75/helvetica-neue-lt-geo-75-bold.eot")
        format("embedded-opentype"),
      url("../fonts/helvetica-75/helvetica-neue-lt-geo-75-bold.woff2")
        format("woff2"),
      url("../fonts/helvetica-75/helvetica-neue-lt-geo-75-bold.woff")
        format("woff"),
      url("../fonts/helvetica-75/helvetica-neue-lt-geo-75-bold.ttf")
        format("truetype");
  }
  
  @font-face {
    font-family: "Helvetica-75-bold";
    src: url("../fonts/helvetica-75-bold/helvetica-neue-lt-geo-75-bold-caps.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/helvetica-75-bold/helvetica-neue-lt-geo-75-bold-caps.eot")
        format("embedded-opentype"),
      url("../fonts/helvetica-75-bold/helvetica-neue-lt-geo-75-bold-caps.woff2")
        format("woff2"),
      url("../fonts/helvetica-75-bold/helvetica-neue-lt-geo-75-bold-caps.woff")
        format("woff"),
      url("../fonts/helvetica-75-bold/helvetica-neue-lt-geo-75-bold-caps.ttf")
        format("truetype");
  }
  /* global inputs */
  
  .mhinput {
    height: 52px;
    padding: 0 16px;
    color: #222222;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #dddddd;
    outline: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .mhinput:hover {
    border: 1px solid #222222;
  }
  
  .login_label {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 8px;
  }
  
  .login_input {
    height: 40px;
    padding: 0 16px;
    background-color: #f7f6f7;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    outline: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .login_input ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #757575;
    opacity: 1;
    /* Firefox */
  }
  .login_input :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #757575;
  }
  .login_input ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #757575;
  }
  .login_input:hover {
    border: 1px solid #dddddd;
  }
  
  /* main page */
  
  .main_image {
    height: 592px;
    margin: 8px 16px 0;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main_image::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-image: linear-gradient(
      to top,
      rgba(255, 255, 255, 0) 47%,
      rgba(255, 255, 255, 0.7)
    );
  }
  .main_image .text {
    z-index: 4;
    padding: 80px 20px 0;
  }
  .main_image .text h5 {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .main_image .text h1 {
    margin-bottom: 24px;
    font-size: 60px;
    font-weight: bold;
    font-family: "Helvetica-75";
  }
  .main_image .text p {
    max-width: 550px;
    font-size: 18px;
  }
  @media only screen and (max-width: 767px) {
    .main_image {
      margin: 8px 8px 0;
    }
    .main_image .text {
      padding: 25px 20px 0;
    }
    .main_image .text h5 {
      margin-bottom: 8px;
    }
    .main_image .text h1 {
      margin-bottom: 8px;
      font-size: 36px;
    }
    .main_image .text p {
      font-size: 14px;
    }
  }
  /* main page destination */
  
  .main_content .popular_destinations {
    margin-top: 64px;
    margin-bottom: 38px;
  }
  .main_content .popular_destinations .destinations_row {
    margin: 0 -8px;
  }
  .main_content .popular_destinations .destinations_row .col-md-6,
  .main_content .popular_destinations .destinations_row .col-lg-3 {
    padding: 0 8px;
  }
  .main_content .popular_destinations .destinations_row .popular_item a {
    color: inherit;
    text-decoration: none;
  }
  .main_content .popular_destinations .destinations_row .popular_item figure {
    margin-bottom: 16px;
    border-radius: 16px;
    overflow: hidden;
  }
  .main_content .popular_destinations .destinations_row .popular_item figure img {
    max-width: 100%;
    height: 367px;
    object-fit: cover;
    border-radius: 16px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .main_content .popular_destinations .destinations_row .popular_item h4 {
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica-75-bold";
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .main_content .popular_destinations .destinations_row .popular_item p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 24px;
    padding-right: 40px;
    font-size: 14px;
    color: #000000;
    opacity: 0.8;
  }
  .main_content
    .popular_destinations
    .destinations_row
    .popular_item:hover
    figure
    img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .main_content .popular_destinations .destinations_row .popular_item:hover h4 {
    color: #fd0e18;
  }
  @media only screen and (max-width: 767px) {
    .main_content .popular_destinations {
      margin: 24px 0;
    }
  }
  
  .main_content .popular_price {
    margin: 72px 0 72px;
  }
  .main_content .popular_price img {
    height: 757px;
    object-fit: cover;
    border-radius: 16px;
  }
  .main_content .popular_price .text {
    padding: 0 20px;
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    background-color: #222222;
    border-radius: 16px;
    color: #ffffff;
  }
  .main_content .popular_price .text h1 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    font-family: "Helvetica-75";
  }
  @media only screen and (max-width: 992px) {
    .main_content .popular_price .text h1 {
      font-size: 24px;
    }
  }
  .main_content .popular_price .text p {
    max-width: 445px;
    margin-bottom: 40px;
    font-size: 24px;
  }
  @media only screen and (max-width: 992px) {
    .main_content .popular_price .text p {
      margin-bottom: 25px;
      font-size: 16px;
    }
  }
  .main_content .popular_price .text button {
    height: 45px;
    padding: 0 18px;
    font-size: 18px;
    border-radius: 4px;
    box-shadow: none;
    background-color: #ffffff;
  }
  @media only screen and (max-width: 767px) {
    .main_content .popular_price {
      margin: 56px 0 16px;
    }
    .main_content .popular_price img {
      height: 296px;
    }
    .main_content .popular_price .text {
      padding: 24px 20px;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
      -webkit-transform: translateY(-40px);
      -ms-transform: translateY(-40px);
      transform: translateY(-40px);
    }
    .main_content .popular_price .text h1 {
      margin-bottom: 8px;
      font-size: 24px;
    }
    .main_content .popular_price .text p {
      margin-bottom: 24px;
      font-size: 16px;
    }
    .main_content .popular_price .text button {
      height: 32px;
      padding: 0 14px;
      font-size: 14px;
    }
  }
  /* contact */
  section #contact {
    margin: 29px 0 120px;
  }
  @media only screen and (max-width: 767px) {
    section #contact {
      margin: 8px 0 80px;
    }
  }
  section #contact .title_icon {
    margin-top: 20px;
  }
  section #contact h4.title {
    max-width: 370px;
    margin: 16px 0 40px;
    font-size: 40px;
  }
  section #contact .contact_info {
    margin-top: 64px;
  }
  section #contact .contact_info h5 {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #dddddd;
    font-size: 16px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  section #contact .contact_info .row {
    margin: 0 -20px;
  }
  section #contact .contact_info .row .col-md-6 {
    padding: 0 20px;
  }
  @media only screen and (max-width: 767px) {
    section #contact .contact_info .row {
      margin: 0;
    }
    section #contact .contact_info .row .col-md-6 {
      padding: 0;
    }
  }
  section #contact .contact_info .info_title {
    font-size: 16px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  section #contact .contact_info .info_title p {
    color: #757575;
    font-size: 14px;
    font-family: "Helvetica-55";
    font-weight: normal;
  }
  section #contact .contact_info .contact_inputs {
    margin-top: 40px;
  }
  section #contact .contact_info .contact_inputs .input_item {
    margin-bottom: 16px;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-toggle {
    height: 40px;
    color: #757575;
    background-color: #f7f6f7;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid transparent;
    box-shadow: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-toggle
    img {
    width: 17px;
    height: 17px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-toggle::after {
    display: none;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-toggle:hover {
    border: 1px solid #dddddd;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-menu {
    border-radius: 10px;
    min-width: auto;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #000000;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-menu
    .dropdown-item {
    padding: 5px 10px;
    font-size: 12px;
    background-color: transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-menu
    .dropdown-item:active {
    color: inherit;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown
    .dropdown-menu
    .dropdown-item:hover {
    background-color: #f7f6f7;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    .dropdown.show
    .dropdown-toggle
    img {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  section #contact .contact_info .contact_inputs .input_item textarea {
    height: 180px;
    padding: 12px 16px;
    background-color: #f7f6f7;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    resize: none;
    outline: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    textarea
    ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #757575;
    opacity: 1;
    /* Firefox */
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    textarea
    :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #757575;
  }
  section
    #contact
    .contact_info
    .contact_inputs
    .input_item
    textarea
    ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #757575;
  }
  section #contact .contact_info .contact_inputs .input_item textarea:hover {
    border: 1px solid #dddddd;
  }
  section #contact .contact_info .contact_inputs button {
    height: 40px;
    color: #ffffff;
    background-color: #222222;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  section #contact .contact_info .contact_inputs button:hover {
    background-color: rgba(34, 34, 34, 0.9);
  }
  section #contact .contact_info .info_number {
    height: 40px;
    margin-top: 16px;
    color: inherit;
    background-color: #f7f6f7;
    font-size: 16px;
    font-family: "Helvetica-75";
    font-weight: bold;
    text-decoration: none;
  }
  section #contact .contact_info .contact_social {
    margin-top: 24px;
    padding-top: 16px;
    border-top: 1px solid #dddddd;
  }
  section #contact .contact_info .contact_social h4 {
    margin-bottom: 16px;
    font-size: 16px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  section #contact .contact_info .contact_social .row {
    margin: 0 -8px;
  }
  section #contact .contact_info .contact_social .row .socials_item {
    flex: 1;
    height: 40px;
    margin: 0 4px;
    color: inherit;
    background-color: #f7f6f7;
    font-size: 14px;
    font-family: "Helvetica-75";
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
  }
  section #contact .contact_info .contact_social .row .socials_item img {
    margin-right: 10px;
  }
  section #contact .contact_info .contact_maps {
    margin-top: 40px;
  }
  section #contact .contact_info .contact_maps .title {
    padding-right: 25px;
    font-size: 16px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  section #contact .contact_info .contact_maps .title img {
    margin-right: 8px;
  }
  section #contact .contact_info .contact_maps span {
    color: #757575;
    font-size: 14px;
  }
  section #contact .contact_info .contact_maps #map {
    margin-top: 24px;
    border-radius: 4px;
    overflow: hidden;
  }
  section #login,
  section #reset {
    max-width: 370px;
    margin: 80px auto 120px;
    padding: 0 16px;
  }
  @media only screen and (max-width: 767px) {
    section #login,
    section #reset {
      max-width: 100%;
      margin: 40px auto;
    }
  }
  section #login h4,
  section #reset h4 {
    margin-bottom: 32px;
    font-size: 24px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  section #login h4.login,
  section #reset h4.login {
    margin-bottom: 25px;
    font-size: 40px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  section #login h4.login span,
  section #reset h4.login span {
    color: #fd0e18;
  }
  section #login p,
  section #reset p {
    margin-bottom: 32px;
    color: #757575;
    font-size: 16px;
  }
  section #login button.google,
  section #login button.facebook,
  section #reset button.google,
  section #reset button.facebook {
    flex: 1;
    height: 48px;
    margin-bottom: 16px;
    padding: 0 16px;
    border: 1px solid #757575;
    font-size: 14px;
    font-family: "Helvetica-75";
    font-weight: bold;
    border-radius: 4px;
    box-shadow: none;
  }
  section #login button.google span,
  section #login button.facebook span,
  section #reset button.google span,
  section #reset button.facebook span {
    flex: 1;
  }
  section #login button.google:hover,
  section #login button.facebook:hover,
  section #reset button.google:hover,
  section #reset button.facebook:hover {
    border: 1px solid #222222;
  }
  section #login .personal_line,
  section #reset .personal_line {
    margin: 24px 0;
  }
  section #login .personal_line span,
  section #reset .personal_line span {
    z-index: 1;
    padding: 0 8px;
    font-size: 12px;
    color: #757575;
    background-color: #ffffff;
  }
  section #login .personal_line::after,
  section #reset .personal_line::after {
    content: " ";
    position: absolute;
    top: 9.5px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #dddddd;
  }
  section #login#reset,
  section #reset#reset {
    min-height: 70vh;
  }
  section #login#reset a,
  section #reset#reset a {
    margin-top: 32px;
    height: 40px;
    color: #222222;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
  @media only screen and (max-width: 767px) {
    section #login#reset,
    section #reset#reset {
      max-width: 100%;
      min-height: auto;
    }
  }
  
  .register_items {
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .register_items .register_rows {
    margin: 0 -20px;
  }
  .register_items .register_rows .register_item {
    flex: 1;
    max-width: 33.3% !important;
    margin: 80px 20px 100px !important;
    padding: 0 !important;
  }
  .register_items .register_rows .register_item h4 {
    margin-bottom: 32px;
    font-size: 18px;
  }
  .register_items .register_rows .register_item .login_inputs {
    margin-bottom: 16px;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-toggle {
    height: 40px;
    color: #757575;
    background-color: #f7f6f7;
    font-size: 12px;
    line-height: 14px;
    border: 1px solid transparent;
    box-shadow: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-toggle
    img {
    width: 17px;
    height: 17px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-toggle::after {
    display: none;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-toggle:hover {
    border: 1px solid #dddddd;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-menu {
    border-radius: 10px;
    min-width: auto;
    margin-top: 10px;
    padding: 10px 0;
    border: 1px solid #000000;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-menu
    .dropdown-item {
    padding: 5px 10px;
    font-size: 12px;
    background-color: transparent;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-menu
    .dropdown-item:active {
    color: inherit;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown
    .dropdown-menu
    .dropdown-item:hover {
    background-color: #f7f6f7;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .dropdown.show
    .dropdown-toggle
    img {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  .register_items .register_rows .register_item .login_inputs .mhcheckbox {
    margin: 25px 0;
  }
  .register_items .register_rows .register_item .login_inputs .mhcheckbox input {
    width: 16px;
    height: 16px;
    background-size: 8px;
  }
  .register_items .register_rows .register_item .login_inputs .mhcheckbox label {
    font-size: 12px;
    color: #757575;
  }
  .register_items
    .register_rows
    .register_item
    .login_inputs
    .mhcheckbox
    label
    a {
    color: #222222;
    text-decoration: underline;
  }
  .register_items a {
    font-size: 12px;
    color: #757575;
  }
  .register_items a.user {
    margin: 24px 0;
  }
  .register_items a.login {
    padding-top: 24px;
    border-top: 1px solid #dddddd;
  }
  .register_items a.login span {
    color: #2d88ff;
  }
  .register_items button.register {
    height: 40px;
    color: #ffffff;
    background-color: #222222;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  .register_items button.register:hover {
    background-color: rgba(34, 34, 34, 0.9);
  }
  .register_items .login_inputs {
    margin-bottom: 16px;
  }
  .register_items .login_inputs button {
    top: 20px;
    right: 4px;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 2px;
  }
  @media only screen and (max-width: 767px) {
    .register_items .register_rows {
      flex-wrap: wrap;
      margin: 0;
    }
    .register_items .register_rows .register_item {
      flex: auto;
      width: 100%;
      max-width: 100% !important;
      margin: 0 !important;
    }
    .register_items .register_rows .register_item#login {
      margin-top: 40px !important;
    }
    .register_items .register_rows .register_item:last-child {
      margin: 45px 0 32px !important;
    }
  }
  body header {
    border-bottom: 1px solid #dddddd;
  }
  
  body.main_page header {
    border-bottom: 0;
  }
  /* header */
  header {
    height: 72px;
    padding: 0 40px;
  }
  @media only screen and (max-width: 767px) {
    header {
      padding: 0 16px;
    }
  }
  header .menu .mobile_menu {
    display: none;
  }
  header .menu .mobile_menu {
    display: none;
    margin-right: 14px;
  }
  @media only screen and (max-width: 370px) {
    header .menu .mobile_menu {
      margin-right: 4px;
    }
  }
  header .menu .mobile_menu .spans {
    width: 40px;
    height: 40px;
  }
  header .menu .mobile_menu .spans span {
    left: 11px;
    width: 17px;
    height: 2px;
    background-color: #222222;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .menu .mobile_menu .spans span:first-child {
    top: 15px;
  }
  header .menu .mobile_menu .spans span:last-child {
    top: 23px;
  }
  header .menu .mobile_menu.active .spans span:first-child {
    top: 14px;
    left: 14px;
    transform: rotate(45deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  header .menu .mobile_menu.active .spans span:last-child {
    top: 26px;
    left: 14px;
    transform: rotate(-45deg);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  @media only screen and (max-width: 767px) {
    header .menu .mobile_menu {
      display: block;
    }
  }
  header .mobile_drop {
    z-index: 10;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 24px 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
    overflow-y: scroll;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background-color: #ffffff;
  }
  header .mobile_drop h4 {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica-75";
  }
  header .mobile_drop ul {
    margin-bottom: 0;
    padding: 32px 40px;
    list-style: none;
    border-bottom: 1px solid #dddddd;
  }
  header .mobile_drop ul li a {
    padding: 10px 0;
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    font-family: "helvetica-65";
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  header .mobile_drop ul li a:hover {
    opacity: 0.7;
  }
  header .mobile_drop ul li a img {
    margin-right: 8px;
    width: 14px;
    height: 14px;
  }
  header .mobile_drop ul.mobile_links li a {
    font-weight: normal;
    font-family: "Helvetica-55";
  }
  header .mobile_drop ul.login {
    border-bottom: 0;
  }
  header .mobile_drop.active {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .logo {
    margin-right: 50px;
  }
  header .menu .header_link {
    height: 100%;
    margin-right: 40px;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
    line-height: 14px;
    font-family: "Helvetica-75";
    font-weight: bold;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  @media only screen and (max-width: 767px) {
    header .menu .header_link {
      display: none !important;
    }
  }
  
  header .header_link img {
    margin-right: 8px;
  }
  header .header_link:hover {
    opacity: 0.7;
  }
  header .menu .cart {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 8px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .menu .cart img {
    margin-right: 0;
  }
  header .menu .cart:hover {
    opacity: 1;
    background-color: #f7f6f7;
  }
  header .menu .search {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    border-radius: 8px;
    border: 1px solid transparent;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  header .menu .search button {
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 53, 78, 0.1);
  }
  header .menu .search button img {
    width: 18px;
    height: 18px;
    margin-top: -2px;
  }
  header .menu .search:hover {
    border: 1px solid #222222;
  }
  
  /* footer */
  
  footer .footer_wrap {
    padding: 64px 0 40px;
    border-top: 1px solid #dddddd;
  }
  @media only screen and (max-width: 767px) {
    footer .footer_wrap {
      border-top: none;
    }
  }
  footer .footer_wrap .subscribe {
    max-width: 590px;
    margin-bottom: 44px;
  }
  footer .footer_wrap .subscribe .text {
    width: 50%;
    padding-right: 25px;
  }
  footer .footer_wrap .subscribe .text h4 {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Helvetica-75";
  }
  footer .footer_wrap .subscribe .text p {
    font-size: 14px;
    color: #757575;
    line-height: 1.57;
  }
  footer .footer_wrap .subscribe .subscribe_input {
    width: 50%;
  }
  footer .footer_wrap .subscribe .subscribe_input input {
    height: 40px;
    padding: 0 80px 0 16px;
    color: #757575;
    background-color: #f7f6f7;
    border-radius: 4px;
    font-size: 12px;
    outline: none;
    border: none;
  }
  footer .footer_wrap .subscribe .subscribe_input button {
    right: 0;
    height: 40px;
    color: #f7f6f7;
    background-color: #000000;
    font-size: 12px;
    outline: none;
    box-shadow: none;
  }
  footer .footer_wrap .footer_links {
    max-width: 590px;
    margin-bottom: 64px;
  }
  footer .footer_wrap .footer_links .footer_divs {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
  }
  footer .footer_wrap .footer_links .footer_divs h4 {
    margin-bottom: 25px;
    font-size: 12px;
    font-family: "Helvetica-75";
    font-weight: bold;
  }
  footer .footer_wrap .footer_links .footer_divs.text_link ul {
    list-style: none;
  }
  footer .footer_wrap .footer_links .footer_divs.text_link ul li {
    height: 25px;
    margin-bottom: 10px;
  }
  footer .footer_wrap .footer_links .footer_divs.text_link ul li a {
    display: block;
    height: 100%;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  footer .footer_wrap .footer_links .footer_divs.text_link ul li a img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  footer .footer_wrap .footer_links .footer_divs.text_link ul li a:hover {
    opacity: 0.7;
  }
  footer .footer_wrap .footer_links .footer_divs .pays_row {
    margin: 0 -10px 50px;
  }
  footer .footer_wrap .footer_links .footer_divs .pays_row .pay_item {
    margin: 0 10px;
  }
  footer .footer_wrap .footer_links .footer_divs .pays_row .pay_item img {
    box-shadow: 0 6px 10px 0 rgba(0, 53, 78, 0.1);
  }
  